
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  background: #e6e6e6;
}
#wrapper{
   min-height: 100%;
   position: relative;
}
#content{
   padding-top: 30px;
   padding-bottom: 160px;
}
#header{
}
.cnr{
   width: 94%;
   margin-left: auto;
   margin-right:auto;
}
.fixed-footer{
	position: fixed;
	bottom: 10px;
}
#footer{
  position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 40px;
    //padding-top: 96px;
    width: 100%;
    height: 48px;
    min-height: 48px;
    background: var(--app-theme-color);
    color: #fff;
    font-size: 10px;
  }
  table th {
    width: auto !important;
}
.bold{
	font-weight: bold;
}
.product-list a{
	display:block;
	text-align: justify;
}
.product-list a:hover, .product-list a:focus{
	display: block;
	background: #286090;
	color: #fff;
	text-decoration: none;
}
.product-details{
	font-size: 13px;
}
.product-details span{
	padding-right: 2px;
	padding-left: 2px;
	border-right: 1px solid #000;
}
#entry-dropdown{
	width: 160px !important;
}
#batch-list-modal{
	height: 600px;
	width: 800px;
}
.bold{
	font-weight: bold;
}
nav ul a{
	border-top: 2px solid transparent;
}
nav ul a.active{
	border-top: 2px solid white;
}
input[type="text"]:disabled{
	background-color: transparent;
    border-bottom: 1px solid #9e9e9e !important;
}
.nav-extended {
	background: rgba(29, 43, 83, 0.89);
}
.table tr.selected{
    background: #fffde7;
}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top40 { margin-top:40px; }

.cfx{
	display: block;
	content: "";
	clear: both;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.bille-tabs{
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;

}
input[type=text]:focus{
  box-shadow: none !important;
}
