* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, aside, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 100%;
}

ul, ol {
  list-style: none;
}

table {
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

/*Flexible images*/
img {
  max-width: 100%;
  width: auto\9;
  /* ie8 */
}
